<html>

<head>
    <title>Сообщения</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Тут список сообщений -->
    <ol class="message-list"></ol>

    <!-- Тут поле отправки сообщения -->
    <input class="message" placeholder="message">
    <button>send</button>

    <!-- Тут скрипт обращения к базе -->
    <script src="/javascript/sendOrGetMessages.js"></script>
</body>

</html>